public {{this.name}} = {
  async sendTransactionAsync(
  {{> typed_params inputs=inputs}}
  {{#this.payable}}
    txData: TxDataPayable = {},
  {{/this.payable}}
  {{^this.payable}}
    txData: TxData = {},
  {{/this.payable}}
  ): Promise<string> {
    const self = this as {{contractName}}Contract;
    const txDataWithDefaults = await self.applyDefaultsToTxDataAsync(
      txData,
      self.{{this.name}}.estimateGasAsync.bind(
        self,
        {{> params inputs=inputs}}
      ),
    );
    const txHash = await promisify<string>(
      self.web3ContractInstance.methods.{{this.name}}(
        {{> params inputs=inputs}}
      ).send, self.web3ContractInstance,
    )(
      txDataWithDefaults,
    );
    return txHash;
  },
  async estimateGasAsync(
  {{> typed_params inputs=inputs}}
    txData: TxData = {},
  ): Promise<number> {
    const self = this as {{contractName}}Contract;
    const txDataWithDefaults = await self.applyDefaultsToTxDataAsync(
      txData,
    );
    const gas = await promisify<number>(
      self.web3ContractInstance.methods.{{this.name}}(
        {{> params inputs=inputs}}
      ).estimateGas, self.web3ContractInstance,
    )(
      txDataWithDefaults,
    );
    return gas;
  },
  getABIEncodedTransactionData(
  {{> typed_params inputs=inputs}}
    txData: TxData = {},
  ): string {
    const self = this as {{contractName}}Contract;
    const abiEncodedTransactionData = self.web3ContractInstance.methods.{{this.name}}.encodeABI();
    return abiEncodedTransactionData;
  },
  async callAsync(
  {{> typed_params inputs=inputs}}
    txData: TxData = {},
  ): Promise<{{> return_type outputs=outputs}}> {
    const self = this as {{contractName}}Contract;
    const txDataWithDefaults = await self.applyDefaultsToTxDataAsync(
      txData,
    );
    const result = await promisify<{{> return_type outputs=outputs}}>(
      self.web3ContractInstance.methods.{{this.name}}(
        {{> params inputs=inputs}}
      ).call,
      self.web3ContractInstance,
    )(
      txDataWithDefaults,
    );
    return result;
  },
};
